html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    .home-bg {
        background: url(/images/background.JPG) no-repeat center center fixed;
    }
body {
    background-color: #F7F7F7;
}


.center-wrapper{
 
     margin-top: 20%;   
}
.eok-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    height: 60px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.eok-btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 146, 54.5);
}

.eok-btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
}

.eok-btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none;
}

.eok-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.eok-btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 146, 54.5);
}

.eok-btn-primary:hover {
    color: #fff;
    background-color: #F39236;
}

.eok-btn.focus,
.eok-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 146, 54.25);
}

.eok-btn:focus,
.eok-btn:hover {
    text-decoration: none;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.eok-btn-primary {
    color: #fff;
    background-color: #F39236;
}

img {
    max-width: 100%;
}

input {
    height: 60px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .16);
}

.card-body {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .16);
    border-radius: 14px;
    
}

.card {
    border: none;

}


.eok-card {
  
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right:40px;
    padding-left: 40px;  
    background-color:#F4F4F4
}
.fm-control {
    display: block;
    width: 100%;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5e9;
    border-radius: .25rem;
    height: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .16);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::-webkit-input-placeholder {
    color: #a8adb3;
}

::-moz-placeholder {
    color: #a8adb3;
}

:-ms-input-placeholder {
    color: #a8adb3;
}

:-moz-placeholder {
    color: #a8adb3;
}

.fm-control:focus {
    outline: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .14);
}

label.error {
    display: none !important;
}

.fm-group {
    position: relative;
    margin-bottom: 24px;
}

.fm-errors {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 100;
    background: #dc3545!important;
    color: #fff;
    font-size: .8rem;
    padding: 2px 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fm-group.has-error .fm-errors {
    display: block;
}

.fm-group.has-error .fm-control {
    border-color: #dc3545!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.authentication-forms .fm-group {
    margin-bottom: 34px;
}


.eok-nav-links a {

text-decoration: none;
color: white;
padding-right: 80px;     
 
}


.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    margin-top: 25px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}



.category-button-wrapper {
    position: relative;
    
}

.category-button {
    display: inline-block;
    padding: 15px 25px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .16);
    margin-left: 13px;
}

.category-label {
    margin-right: 5px;
}

.category-label .radio {
    position: absolute;
    left: 100%;
    overflow: hidden;
    width: 0;
    height: 0;
    clip: rect(0,0,0,0);
    z-index: -100;
}

.category-label .radio:checked + .category-button {
    background: #F39236;
    color: #fff;
}

.search-wrapper .eok-btn-primary {
    padding: .375rem 3.5rem;
}

